{{define "admin-sidebar"}}
<style>
    /* =========== Sidebar css =========== */
    .sidebar-nav-wrapper {
        background: #fff;
        width: 15rem;
        padding: 1.2rem 0rem;
        height: 100vh;
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
        top: 0;
        left: 0;
        z-index: 99;
        box-shadow: 0px 0px 30px rgba(200, 208, 216, 0.3);
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
        .sidebar-nav-wrapper {
            -webkit-transform: translateX(-260px);
            -moz-transform: translateX(-260px);
            -ms-transform: translateX(-260px);
            -o-transform: translateX(-260px);
            transform: translateX(-260px);
        }
    }

    .sidebar-nav-wrapper.active {
        -webkit-transform: translateX(-260px);
        -moz-transform: translateX(-260px);
        -ms-transform: translateX(-260px);
        -o-transform: translateX(-260px);
        transform: translateX(-260px);
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
        .sidebar-nav-wrapper.active {
            -webkit-transform: translateX(0px);
            -moz-transform: translateX(0px);
            -ms-transform: translateX(0px);
            -o-transform: translateX(0px);
            transform: translateX(0px);
        }
    }

    .sidebar-nav-wrapper .navbar-logo {
        text-align: center;
        padding: 0 25px;
        margin-bottom: 2rem;
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item {
        position: relative;
        margin: 5px 0px;
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children > a {
        color: #271c37;
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children > a::before {
        opacity: 1;
        visibility: visible;
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children > a::after {
        content: "\F282";
        font: normal normal normal 1em/1 "bootstrap-icons";
        position: absolute;
        right: 1.5rem;
        top: 1rem;
        font-size: 1rem;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children > a.collapsed {
        color: #5d657b;
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children > a.collapsed::before {
        opacity: 0;
        visibility: hidden;
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children > a.collapsed::after {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children ul {
        padding: 0;
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children ul li a {
        font-size: 14px;
        font-weight: 500;
        border-radius: 0;
        padding: 8px 30px;
        display: flex;
        align-items: center;
        border: 0;
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children ul li a.active, .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children ul li a:hover {
        color: #ffffff;
        border-color: rgb(93 0 224);
        background: rgb(93 0 224) linear-gradient(270deg, #c42cb7, rgb(93 0 224));
        -webkit-background-image: linear-gradient(270deg, #c42cb7, rgb(93 0 224));
        -moz-background-image: linear-gradient(270deg, #c42cb7, rgb(93 0 224));
        -o-background-image: linear-gradient(270deg, #c42cb7, rgb(93 0 224));
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children ul li a i {
        font-size: 16px;
        margin-right: 15px;
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children ul li a span.text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children ul li a span.pro-badge {
        background: #5f00e1;
        color: #fff;
        padding: 1px 6px;
        border-radius: 4px;
        font-size: 10px;
        margin-left: 10px;
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item a {
        display: flex;
        align-items: center;
        color: #5d657b;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        position: relative;
        z-index: 1;
        padding: 10px 25px;
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item a::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 4px;
        background: #5f00e1;
        border-radius: 0 3px 3px 0px;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item a span.text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item a span.pro-badge {
        background: #5f00e1;
        color: #fff;
        padding: 1px 6px;
        border-radius: 4px;
        font-size: 10px;
        margin-left: 10px;
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item.active > a,
    .sidebar-nav-wrapper .sidebar-nav ul .nav-item.active > a.collapsed, .sidebar-nav-wrapper .sidebar-nav ul .nav-item:hover > a,
    .sidebar-nav-wrapper .sidebar-nav ul .nav-item:hover > a.collapsed {
        color: #ffffff;
        border-color: rgb(93 0 224);
        background: rgb(93 0 224);
        background-image: linear-gradient(270deg, #c42cb7, rgb(93 0 224));
        -webkit-background-image: linear-gradient(270deg, #c42cb7, rgb(93 0 224));
        -moz-background-image: linear-gradient(270deg, #c42cb7, rgb(93 0 224));
        -o-background-image: linear-gradient(270deg, #c42cb7, rgb(93 0 224));
    }

    .sidebar-nav-wrapper .sidebar-nav ul .nav-item.active > a::before,
    .sidebar-nav-wrapper .sidebar-nav ul .nav-item.active > a.collapsed::before, .sidebar-nav-wrapper .sidebar-nav ul .nav-item:hover > a::before,
    .sidebar-nav-wrapper .sidebar-nav ul .nav-item:hover > a.collapsed::before {
        opacity: 1;
        visibility: visible;
    }

    .sidebar-nav-wrapper.style-2 .sidebar-nav ul .nav-item.nav-item-has-children ul li a.active, .sidebar-nav-wrapper.style-2 .sidebar-nav ul .nav-item.nav-item-has-children ul li a:hover {
        color: #fff;
        border-color: #5f00e1;
        background: #5f00e1;
    }

    .sidebar-nav-wrapper.style-2 .sidebar-nav ul .nav-item.nav-item-has-children ul li a.active span.pro-badge, .sidebar-nav-wrapper.style-2 .sidebar-nav ul .nav-item.nav-item-has-children ul li a:hover span.pro-badge {
        background: #fff;
        color: #5f00e1;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 11;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }

    @media only screen and (min-width: 1400px), only screen and (min-width: 1200px) and (max-width: 1399px) {
        .overlay {
            display: none;
        }
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
        .overlay.active {
            opacity: 1;
            visibility: visible;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }
    }

    .main-wrapper {
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
        margin-left: 15rem;
        min-height: 100vh;
        padding-bottom: 5rem;
        position: relative;
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
        .main-wrapper {
            margin-left: 0;
        }
    }

    @media (max-width: 767px) {
        .main-wrapper {
            padding-bottom: 7rem;
        }
    }

    .main-wrapper.active {
        margin-left: 0;
    }

    .main-wrapper .container-fluid {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media (max-width: 767px) {
        .main-wrapper .container-fluid {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .main-wrapper .footer {
        padding: 25px 0;
        justify-items: flex-end;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .main-wrapper .footer .copyright p a {
        color: inherit;
    }

    .main-wrapper .footer .copyright p a:hover {
        color: #5f00e1;
    }

    @media (max-width: 767px) {
        .main-wrapper .footer .terms {
            margin-bottom: 10px;
            text-align: center;
        }
    }

    .main-wrapper .footer .terms a {
        color: #5d657b;
    }

    .main-wrapper .footer .terms a:hover {
        color: #5f00e1;
    }

    /* ====== Theme Change CSS ====== */
    .darkTheme .sidebar-nav-wrapper {
        background: #271c37;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    }

    .darkTheme .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children > a {
        color: #fff;
    }

    .darkTheme .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children > a.collapsed {
        color: #c2cbd6;
    }

    .darkTheme .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children ul li a.active, .darkTheme .sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children ul li a:hover {
        color: #fff;
        border-color: rgba(255, 255, 255, 0.15);
        background: rgba(255, 255, 255, 0.1);
    }

    .darkTheme .sidebar-nav-wrapper .sidebar-nav ul .nav-item a {
        color: #c2cbd6;
    }

    .darkTheme .sidebar-nav-wrapper .sidebar-nav ul .nav-item.active > a,
    .darkTheme .sidebar-nav-wrapper .sidebar-nav ul .nav-item.active > a.collapsed, .darkTheme .sidebar-nav-wrapper .sidebar-nav ul .nav-item:hover > a,
    .darkTheme .sidebar-nav-wrapper .sidebar-nav ul .nav-item:hover > a.collapsed {
        color: #fff;
    }

    .darkTheme .sidebar-nav-wrapper.style-2 {
        background: #090e34;
    }

    .darkTheme .sidebar-nav-wrapper.style-2 .sidebar-nav ul .nav-item.nav-item-has-children > a {
        color: #fff;
    }

    .darkTheme .sidebar-nav-wrapper.style-2 .sidebar-nav ul .nav-item.nav-item-has-children > a.collapsed {
        color: #c2cbd6;
    }

    .darkTheme .sidebar-nav-wrapper.style-2 .sidebar-nav ul .nav-item.nav-item-has-children ul li a.active, .darkTheme .sidebar-nav-wrapper.style-2 .sidebar-nav ul .nav-item.nav-item-has-children ul li a:hover {
        color: #fff;
        border-color: #5f00e1;
        background: #5f00e1;
    }

    .darkTheme .sidebar-nav-wrapper.style-2 .sidebar-nav ul .nav-item a {
        color: #c2cbd6;
    }

    .darkTheme .sidebar-nav-wrapper.style-2 .sidebar-nav ul .nav-item.active > a,
    .darkTheme .sidebar-nav-wrapper.style-2 .sidebar-nav ul .nav-item.active > a.collapsed, .darkTheme .sidebar-nav-wrapper.style-2 .sidebar-nav ul .nav-item:hover > a,
    .darkTheme .sidebar-nav-wrapper.style-2 .sidebar-nav ul .nav-item:hover > a.collapsed {
        color: #fff;
    }
</style>
<aside class="sidebar-nav-wrapper">
    <div class="navbar-logo">
        <a href="index.html">
            <img class="img-fluid" src="/assets/images/logo/logo.png" alt="logo"/>
        </a>
    </div>
    <nav class="sidebar-nav">
        <ul>
            {{range $index, $value := .menu}}
            {{if not .Children}}
            <li class="nav-item {{if Contains $.url .Path}}active{{end}}">
                <a href="{{.Path}}">
                    <i class="bi bi-{{.Icon}} fs-5 me-3"></i>
                    <span class="text">{{.Title}}</span>
                </a>
            </li>
            {{else}}
            <li class="nav-item nav-item-has-children">
                <a
                        href="#0"
                        class="{{if Contains $.url .Path}} {{else}}collapsed{{end}}"
                        data-bs-toggle="collapse"
                        data-bs-target="#ddmenu_{{$index}}"
                        aria-controls="ddmenu_{{$index}}"
                        aria-expanded="{{if Contains $.url .Path}}true{{else}}false{{end}}"
                        aria-label="Toggle navigation"
                >
                    <i class="bi bi-{{.Icon}} fs-5 me-3"></i>
                    <span class="text">{{.Title}}</span>
                </a>
                <ul id="ddmenu_{{$index}}" class="collapse dropdown-nav {{if Contains $.url .Path}}show{{end}}">
                    {{range .Children}}
                    <li class="my-2">
                        <a href="{{$value.Path}}/{{.Path}}" {{if Contains $.url $value.Path}}class="{{if Contains $.url .Path}}active{{end}}"{{end}}>
                            <span class="text">{{.Title}}</span>
                        </a>
                    </li>
                    {{end}}
                </ul>
            </li>
            {{end}}
            {{end}}
        </ul>
    </nav>
</aside>
<div class="overlay"></div>
{{end}}