{{define "head"}}
{{end}}
{{define "body"}}

{{template "admin-sidebar" .}}
<main class="main-wrapper">
    {{template "admin-header" .}}
    <section class="section">
        <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-4">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="title mb-4">
                            <h2>Dashboard</h2>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- ========== title-wrapper end ========== -->
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-4">
                        <div class="icon purple">
                            <i class="bi bi-cart4"></i>
                        </div>
                        <div class="content">
                            <h6 class="mb-2">New Orders</h6>
                            <h3 class="text-bold mb-2">29875</h3>
                            <p class="text-sm text-success">
                                <i class="bi bi-arrow-up"></i> +2.00%
                                <span class="text-gray">(30 days)</span>
                            </p>
                        </div>
                    </div>
                    <!-- End Icon Cart -->
                </div>
                <!-- End Col -->
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-4">
                        <div class="icon success">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                        <div class="content">
                            <h6 class="mb-2">Total Income</h6>
                            <h3 class="text-bold mb-2">$42,560</h3>
                            <p class="text-sm text-success">
                                <i class="bi bi-arrow-up"></i> +5.45%
                                <span class="text-gray">Increased</span>
                            </p>
                        </div>
                    </div>
                    <!-- End Icon Cart -->
                </div>
                <!-- End Col -->
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-5">
                        <div class="icon primary">
                            <i class="bi bi-credit-card"></i>
                        </div>
                        <div class="content">
                            <h6 class="mb-2">Total Expenses</h6>
                            <h3 class="text-bold mb-2">$10,256</h3>
                            <p class="text-sm text-danger">
                                <i class="bi bi-arrow-down"></i> -2.00%
                                <span class="text-gray">Expense</span>
                            </p>
                        </div>
                    </div>
                    <!-- End Icon Cart -->
                </div>
                <!-- End Col -->
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-4">
                        <div class="icon orange">
                            <i class="bi bi-person"></i>
                        </div>
                        <div class="content">
                            <h6 class="mb-2">New Users</h6>
                            <h3 class="text-bold mb-2">12568</h3>
                            <p class="text-sm text-warning">
                                <i class="bi bi-arrow-down"></i> -25.00%
                                <span class="text-gray"> Earning</span>
                            </p>
                        </div>
                    </div>
                    <!-- End Icon Cart -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="card-style mb-4">
                        <div class="title d-flex flex-wrap justify-content-between">
                            <div class="left">
                                <h6 class="text-medium mb-2">Yearly Stats</h6>
                                <h3 class="text-bold">$125,426</h3>
                            </div>
                            <div class="right">
                                <div class="select-style-1">
                                    <div class="select-position select-sm">
                                        <select class="light-bg">
                                            <option value="">Yearly</option>
                                            <option value="">Monthly</option>
                                            <option value="">Weekly</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- end select -->
                            </div>
                        </div>
                        <!-- End Title -->
                        <div class="chart">
                            <canvas
                                    id="Chart1"
                                    style="width: 100%; height: 400px"
                            ></canvas>
                        </div>
                        <!-- End Chart -->
                    </div>
                </div>
                <!-- End Col -->
                <div class="col-lg-5">
                    <div class="card-style mb-4">
                        <div
                                class="
                    title
                    d-flex
                    flex-wrap
                    align-items-center
                    justify-content-between
                  "
                        >
                            <div class="left">
                                <h6 class="text-medium mb-4">Sales/Revenue</h6>
                            </div>
                            <div class="right">
                                <div class="select-style-1">
                                    <div class="select-position select-sm">
                                        <select class="light-bg">
                                            <option value="">Yearly</option>
                                            <option value="">Monthly</option>
                                            <option value="">Weekly</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- end select -->
                            </div>
                        </div>
                        <!-- End Title -->
                        <div class="chart">
                            <canvas
                                    id="Chart2"
                                    style="width: 100%; height: 400px"
                            ></canvas>
                        </div>
                        <!-- End Chart -->
                    </div>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
            <div class="row">
                <div class="col-lg-5">
                    <div class="card-style mb-4">
                        <div
                                class="
                    title
                    d-flex
                    justify-content-between
                    align-items-center
                  "
                        >
                            <div class="left">
                                <h6 class="text-medium mb-4">Sells by State</h6>
                            </div>
                        </div>
                        <!-- End Title -->
                        <div id="map" style="width: 100%; height: 400px"></div>
                        <p>Last updated: 7 days ago</p>
                    </div>
                </div>
                <!-- End Col -->
                <div class="col-lg-7">
                    <div class="card-style mb-4">
                        <div
                                class="
                    title
                    d-flex
                    flex-wrap
                    justify-content-between
                    align-items-center
                  "
                        >
                            <div class="left">
                                <h6 class="text-medium mb-4">Top Selling Products</h6>
                            </div>
                            <div class="right">
                                <div class="select-style-1">
                                    <div class="select-position select-sm">
                                        <select class="light-bg">
                                            <option value="">Yearly</option>
                                            <option value="">Monthly</option>
                                            <option value="">Weekly</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- end select -->
                            </div>
                        </div>
                        <!-- End Title -->
                        <div class="table-responsive">
                            <table class="table top-selling-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        <h6 class="text-sm text-medium">Products</h6>
                                    </th>
                                    <th class="min-width">
                                        <h6 class="text-sm text-medium">Category</h6>
                                    </th>
                                    <th class="min-width">
                                        <h6 class="text-sm text-medium">Price</h6>
                                    </th>
                                    <th class="min-width">
                                        <h6 class="text-sm text-medium">Sold</h6>
                                    </th>
                                    <th class="min-width">
                                        <h6 class="text-sm text-medium">Profit</h6>
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="check-input-primary">
                                            <input
                                                    class="form-check-input"
                                                    type="checkbox"
                                                    id="checkbox-1"
                                            />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="product">
                                            <div class="image">
                                                <img
                                                        src="assets/images/products/product-mini-1.png"
                                                        alt=""
                                                />
                                            </div>
                                            <p class="text-sm">Arm Chair</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-sm">Interior</p>
                                    </td>
                                    <td>
                                        <p class="text-sm">$345</p>
                                    </td>
                                    <td>
                                        <p class="text-sm">43</p>
                                    </td>
                                    <td>
                                        <p class="text-sm">$45</p>
                                    </td>
                                    <td>
                                        <div class="action justify-content-end">
                                            <button
                                                    class="more-btn ms-2 dropdown-toggle"
                                                    id="moreAction1"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false"
                                            >
                                                <i class="lni lni-more-alt"></i>
                                            </button>
                                            <ul
                                                    class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="moreAction1"
                                            >
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Remove</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Edit</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="check-input-primary">
                                            <input
                                                    class="form-check-input"
                                                    type="checkbox"
                                                    id="checkbox-1"
                                            />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="product">
                                            <div class="image">
                                                <img
                                                        src="assets/images/products/product-mini-2.png"
                                                        alt=""
                                                />
                                            </div>
                                            <p class="text-sm">SOfa</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-sm">Interior</p>
                                    </td>
                                    <td>
                                        <p class="text-sm">$145</p>
                                    </td>
                                    <td>
                                        <p class="text-sm">13</p>
                                    </td>
                                    <td>
                                        <p class="text-sm">$15</p>
                                    </td>
                                    <td>
                                        <div class="action justify-content-end">
                                            <button
                                                    class="more-btn ms-2 dropdown-toggle"
                                                    id="moreAction1"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false"
                                            >
                                                <i class="lni lni-more-alt"></i>
                                            </button>
                                            <ul
                                                    class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="moreAction1"
                                            >
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Remove</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Edit</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="check-input-primary">
                                            <input
                                                    class="form-check-input"
                                                    type="checkbox"
                                                    id="checkbox-1"
                                            />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="product">
                                            <div class="image">
                                                <img
                                                        src="assets/images/products/product-mini-3.png"
                                                        alt=""
                                                />
                                            </div>
                                            <p class="text-sm">Dining Table</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-sm">Interior</p>
                                    </td>
                                    <td>
                                        <p class="text-sm">$95</p>
                                    </td>
                                    <td>
                                        <p class="text-sm">32</p>
                                    </td>
                                    <td>
                                        <p class="text-sm">$215</p>
                                    </td>
                                    <td>
                                        <div class="action justify-content-end">
                                            <button
                                                    class="more-btn ms-2 dropdown-toggle"
                                                    id="moreAction1"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false"
                                            >
                                                <i class="lni lni-more-alt"></i>
                                            </button>
                                            <ul
                                                    class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="moreAction1"
                                            >
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Remove</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Edit</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="check-input-primary">
                                            <input
                                                    class="form-check-input"
                                                    type="checkbox"
                                                    id="checkbox-1"
                                            />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="product">
                                            <div class="image">
                                                <img
                                                        src="assets/images/products/product-mini-4.png"
                                                        alt=""
                                                />
                                            </div>
                                            <p class="text-sm">Office Chair</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-sm">Interior</p>
                                    </td>
                                    <td>
                                        <p class="text-sm">$105</p>
                                    </td>
                                    <td>
                                        <p class="text-sm">23</p>
                                    </td>
                                    <td>
                                        <p class="text-sm">$345</p>
                                    </td>
                                    <td>
                                        <div class="action justify-content-end">
                                            <button
                                                    class="more-btn ms-2 dropdown-toggle"
                                                    id="moreAction1"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false"
                                            >
                                                <i class="lni lni-more-alt"></i>
                                            </button>
                                            <ul
                                                    class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="moreAction1"
                                            >
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Remove</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Edit</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="check-input-primary">
                                            <input
                                                    class="form-check-input"
                                                    type="checkbox"
                                                    id="checkbox-1"
                                            />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="product">
                                            <div class="image">
                                                <img
                                                        src="assets/images/products/product-mini-1.png"
                                                        alt=""
                                                />
                                            </div>
                                            <p class="text-sm">Office Stuff</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-sm">Interior</p>
                                    </td>
                                    <td>
                                        <p class="text-sm">$95</p>
                                    </td>
                                    <td>
                                        <p class="text-sm">25</p>
                                    </td>
                                    <td>
                                        <p class="text-sm">$450</p>
                                    </td>
                                    <td>
                                        <div class="action justify-content-end">
                                            <button
                                                    class="more-btn ms-2 dropdown-toggle"
                                                    id="moreAction1"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false"
                                            >
                                                <i class="lni lni-more-alt"></i>
                                            </button>
                                            <ul
                                                    class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="moreAction1"
                                            >
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Remove</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Edit</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- End Table -->
                        </div>
                    </div>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="card-style mb-4">
                        <div
                                class="
                    title
                    d-flex
                    flex-wrap
                    align-items-center
                    justify-content-between
                  "
                        >
                            <div class="left">
                                <h6 class="text-medium mb-2">Sales Forecast</h6>
                            </div>
                            <div class="right">
                                <div class="select-style-1 mb-2">
                                    <div class="select-position select-sm">
                                        <select class="light-bg">
                                            <option value="">Last Month</option>
                                            <option value="">Last 3 Months</option>
                                            <option value="">Last Year</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- end select -->
                            </div>
                        </div>
                        <!-- End Title -->
                        <div class="chart">
                            <div id="legend3">
                                <ul
                                        class="legend3 d-flex flex-wrap align-items-center mb-5"
                                >
                                    <li>
                                        <div class="d-flex">
                                            <span class="bg-color primary-bg"> </span>
                                            <div class="text">
                                                <p class="text-sm text-success">
                                                    <span class="text-dark">Revenue</span> +25.55%
                                                    <i class="bi bi-arrow-up"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <span class="bg-color purple-bg"></span>
                                            <div class="text">
                                                <p class="text-sm text-success">
                                                    <span class="text-dark">Net Profit</span> +45.55%
                                                    <i class="bi bi-arrow-up"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <span class="bg-color orange-bg"></span>
                                            <div class="text">
                                                <p class="text-sm text-danger">
                                                    <span class="text-dark">Order</span> -4.2%
                                                    <i class="bi bi-arrow-down"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <canvas
                                    id="Chart3"
                                    style="width: 100%; height: 450px"
                            ></canvas>
                        </div>
                    </div>
                </div>
                <!-- End Col -->
                <div class="col-lg-5">
                    <div class="card-style mb-5">
                        <div
                                class="
                    title
                    d-flex
                    flex-wrap
                    align-items-center
                    justify-content-between
                  "
                        >
                            <div class="left">
                                <h6 class="text-medium mb-2">Traffic</h6>
                            </div>
                            <div class="right">
                                <div class="select-style-1 mb-2">
                                    <div class="select-position select-sm">
                                        <select class="bg-ligh">
                                            <option value="">Last 6 Months</option>
                                            <option value="">Last 3 Months</option>
                                            <option value="">Last Year</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- end select -->
                            </div>
                        </div>
                        <!-- End Title -->
                        <div class="chart">
                            <div id="legend4">
                                <ul
                                        class="legend3 d-flex flex-wrap align-items-center mb-5"
                                >
                                    <li>
                                        <div class="d-flex">
                                            <span class="bg-color primary-bg"> </span>
                                            <div class="text">
                                                <p class="text-sm text-success">
                                                    <span class="text-dark">Store Visits</span>
                                                    +25.55%
                                                    <i class="bi bi-arrow-up"></i>
                                                </p>
                                                <h2>3456</h2>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <span class="bg-color danger-bg"></span>
                                            <div class="text">
                                                <p class="text-sm text-danger">
                                                    <span class="text-dark">Visitors</span> -2.05%
                                                    <i class="bi bi-arrow-down"></i>
                                                </p>
                                                <h2>3456</h2>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <canvas
                                    id="Chart4"
                                    style="width: 100%; height: 420px"
                            ></canvas>
                        </div>
                        <!-- End Chart -->
                    </div>
                </div>
                <!-- End Col -->
            </div>
        </div>
    </section>
    {{template "admin-footer" .}}
</main>
{{end}}