{{define "head"}}
{{end}}
{{define "body"}}

{{template "admin-sidebar" .}}
<main class="main-wrapper">
  {{template "admin-header" .}}
  <section class="section">
    <div class="container-fluid">
      <div class="title-wrapper pt-4">
        <div class="row align-items-center mb-3">
          <div class="col-md-6">
            <div class="title">
              <h2>分类管理</h2>
            </div>
          </div>
          <!-- end col -->
          <div class="col-md-6">
            <div class="breadcrumb-wrapper">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#">首页</a>
                  </li>
                  <li class="breadcrumb-item">
                    <span href="#">内容设置</span>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    分类管理
                  </li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <div class="tables-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <div class="card-style mb-4">
              <h6 class="mb-2">Striped Table</h6>
              <p class="text-sm mb-20">
                For Striped Table—light padding and only horizontal
                dividers.
              </p>
              <div class="table-wrapper table-responsive">
                <table class="table striped-table">
                  <thead>
                  <tr>
                    <th></th>
                    <th><h6>Account No</h6></th>
                    <th><h6>Balance</h6></th>
                    <th><h6>Action</h6></th>
                  </tr>
                  <!-- end table row-->
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      <div class="check-input-primary">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                id="checkbox-1"
                        />
                      </div>
                    </td>
                    <td>
                      <p>AC336 508 2157</p>
                    </td>
                    <td>
                      <p>$523</p>
                    </td>
                    <td>
                      <div class="action">
                        <button class="text-danger">
                          <i class="lni lni-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <!-- end table row -->
                  <tr>
                    <td>
                      <div class="check-input-primary">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                id="checkbox-2"
                        />
                      </div>
                    </td>
                    <td>
                      <p>AC336 756 0987</p>
                    </td>
                    <td>
                      <p>$123</p>
                    </td>
                    <td>
                      <div class="action">
                        <button class="text-danger">
                          <i class="lni lni-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <!-- end table row -->
                  <tr>
                    <td>
                      <div class="check-input-primary">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                id="checkbox-3"
                        />
                      </div>
                    </td>
                    <td>
                      <p>AC336 098 8765</p>
                    </td>
                    <td>
                      <p>$223</p>
                    </td>
                    <td>
                      <div class="action">
                        <button class="text-danger">
                          <i class="lni lni-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <!-- end table row -->
                  <tr>
                    <td>
                      <div class="check-input-primary">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                id="checkbox-4"
                        />
                      </div>
                    </td>
                    <td>
                      <p>AC336 897 3242</p>
                    </td>
                    <td>
                      <p>$323</p>
                    </td>
                    <td>
                      <div class="action">
                        <button class="text-danger">
                          <i class="lni lni-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <!-- end table row -->
                  <tr>
                    <td>
                      <div class="check-input-primary">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                id="checkbox-5"
                        />
                      </div>
                    </td>
                    <td>
                      <p>AC336 654 0987</p>
                    </td>
                    <td>
                      <p>$423</p>
                    </td>
                    <td>
                      <div class="action">
                        <button class="text-danger">
                          <i class="lni lni-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <!-- end table row -->
                  <tr>
                    <td>
                      <div class="check-input-primary">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                id="checkbox-6"
                        />
                      </div>
                    </td>
                    <td>
                      <p>AC336 234 9804</p>
                    </td>
                    <td>
                      <p>$523</p>
                    </td>
                    <td>
                      <div class="action">
                        <button class="text-danger">
                          <i class="lni lni-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <!-- end table row -->
                  </tbody>
                </table>
                <!-- end table -->
              </div>
            </div>
            <!-- end card -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
    </div>
  </section>
  {{template "admin-footer" .}}
</main>
{{end}}